<section class="board">
    <div class="row" [ngStyle]="{
        'height' : 'calc(75vmin/' + size + ')'
      }" *ngFor="let i of numbers">
      <div class="cell" [ngStyle]="{
          'width' : 'calc(100%/' + size + ')'
        }" *ngFor="let j of numbers" (click)="onCellClick(i, j)">

        <i [ngStyle]="{
            'top' : 'calc(50% - (30vmin/' + size + '))',
            'font-size' : 'calc(60vmin / ' + size + ')'
          }" class="material-icons player_move">
          {{icons[i][j]}}
        </i>
      </div>
    </div>
</section>
