.board {
    width: 75vmin;
    height: 75vmin;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.cell {
    margin: 0;
    padding: 0;
    border-right: .5em solid #222;
    border-spacing: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: .5em solid #222;
    border-spacing: 0;
}

.row:last-of-type {
    border-bottom: 0;
}

.cell:last-of-type {
    border-right: 0;
}

i.player_move {
    position: relative;
    font-weight: bolder;
}